$black: #222222;
$white: #FFFFFF;
$blue: #4B4E6D;
$gray: #E5F4E3;
$light-gray: #eeeeee;

// Christmas theme
$christmas-red: #d42426;
$christmas-green: #079f41;

// Rank colors
$user: #3f3f3f;
$approved: #14976e;
$moderator: #df9914;
$administrator: #c21d23;