.button {
    border-radius: .2rem;
    margin-right: .5rem;
    padding: .8rem;
    font-size: 1rem;
    min-width: 8rem;
    cursor: pointer;

    font-family: 'Bree Serif', 'Open Sans', sans-serif;
    font-weight: 100;
    border: none;

    &.success {
        background: #131313;
        color: white;
    }

    &.danger {
        background: #bc3e3e;
        color: white;
    }

    &.normal {
        background: #494949;
        color: white;
    }
}