.admin {
    padding: 2rem;
	border: 2rem solid $black;
	border-style: groove;
    min-height: 100vh;
    
    &__actions button {
        border: none;
        outline: none;
        background-color: $black;
        color: $white;
        padding: .5rem;
        cursor: pointer;
    }
    
    &__users {
        background-color: $light-gray;
        display: flex;
        flex-direction: column;

        &__title {
            font-size: 1rem;
            padding: .5rem;
            font-weight: bold;
        }
        
        &__user {
            justify-content: space-between;
            display: inline-flex;
            align-items: center;
            background-color: #2222220f;
            border-top: .1rem solid #eeeeee;
            padding: 1rem;
            width: 100%;
            
            &__avatar {
                min-width: 2rem;
                height: 2rem;
                border-radius: 50%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;

                user-drag: none;
                user-select: none;
                -moz-user-select: none;
                -webkit-user-drag: none;
                -webkit-user-select: none;
                -ms-user-select: none;
            }

            &__id {

            }

            &__name {
            }

            &__username {
            }
        }
    }

    &__ban {
        background-color: $light-gray;
        display: flex;
        flex-direction: column;
        margin-top: 1rem;

        &__title {
            font-size: 1rem;
            padding: .5rem;
            font-weight: bold;
        }

        &__title {

        }

        &__bans {
            background-color: $light-gray;
            display: flex;
            flex-direction: column;
    
            &__title {
                font-size: 1rem;
                padding: .5rem;
                font-weight: bold;
            }
            
            &__ban {
                justify-content: space-between;
                display: inline-flex;
                align-items: center;
                background-color: #2222220f;
                border-top: .1rem solid #eeeeee;
                padding: 1rem;
                width: 100%;
        }
    }

    &__ip {
        form {
            display: inline-flex;
        }

        input {
            padding: .5rem;
            margin: .5rem;
            outline: none;
            border: none;
        }
    }
}
}


@media (max-width: 540px) {
	.admin {
		border: 1rem solid $black;
	}
}