.alert {
	background-color: $white;
	color: $black;
	text-decoration: none;
	font-size: 1rem;
	padding: .5rem;
	transition: .5s;
	margin-bottom: 2.5rem;
	margin-top: .5rem;
	border-radius: 3px;
	border-top: .3rem solid $white;
	box-shadow: 0px 0px 1rem 3px #22222217;

	li {
		list-style-type: none;
	}
}

.is-success {
	background-color: #67be74;
	color: white;

	.alert__title {
		color: white;
		font-size: 1.1rem;
	}
}

.is-error {
	background-color: #cf4343;
	color: $black;

	.alert__title {
		color: $black;
		font-size: 1.1rem;
	}
}