.alert {
	background-color: $white;
	color: $black;
	text-decoration: none;
	font-size: 1rem;
	padding: .5rem;
	transition: .5s;
	margin: 1rem 0 0.5rem 0;
	border-radius: 3px;
	box-shadow: 0px 0px 3rem 2px #22222217;

	li {
		list-style-type: none;
	}
}

.hidden {
	display: none;
}

.is-success {
	background-color: $white;
	color: $black;
	border: .25rem solid #67be74;

	.alert__title {
		color: #67be74;
		font-size: 1.1rem;
	}
}

.is-error {
	background-color: $white;
	color: $black;
	border: .25rem solid #ff6666;

	.alert__title {
		color: #ff6666;
	}
}