label {
	display: flex;
	align-items: center;
	color: $black;
	position: relative;
}


input[type=checkbox] {
	width: 0;
	height: 0;
}

label > span {
	width: 1.5rem;
	height: 1.5rem;
	display: flex;
	justify-content: center;
	border: .2rem solid $black;
	margin-right: 1rem;
	transition: all 0.3s;
}

input[type=checkbox]:checked + label > span {
	animation: bounce-in 250ms;
}

input[type=checkbox] + label > span {
	animation: bounce-out 250ms;
}


input[type=checkbox]:checked + label > span:before {
	content: "";
	position: absolute;
	top: 4px;
    left: 5px;
	border-right: 3px solid transparent;
	border-bottom: 3px solid transparent;
	transform: rotate(45deg);
	transform-origin: 0% 100%;
	animation: checked-box 125ms 250ms forwards;
}

@keyframes checked-box {
	0% {
		width: 0px;
		height: 0px;
		border-color: black;
		transform: translate(0,0) rotate(45deg);
	}

	33% {
		width: 4px;
		height: 0;
		border-color: black;
		transform: translate(0,0) rotate(45deg);
	}

	100% {
		width: 8px;
		height: 12px;
		border-color: black;
		transform: translate(0,-4px) rotate(45deg);
	}
}

@keyframes bounce-in {
	0% {
		transform: scale(1);
	}

	33% {
		transform: scale(.70);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes bounce-out {
	0% {
		transform: scale(1);
	}

	33% {
		transform: scale(.70);
	}

	100% {
		transform: scale(1);
	}
}