.cookie {
    color: $black;
    background-color: $white;
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    animation-name: slide-up;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    box-shadow: 0rem 0.1rem 0.5rem $black;
    padding: 1rem;
    z-index: 1000;
    width: 100%;
    left: 0;
    bottom: 0;

    &__left {
        padding-top: .45rem;
    }

    &__right {

    }

    &__accept {
        border: none;
        background-color: $black;
        color: $white;
        padding: .5rem;
        cursor: pointer;
        outline: none;

        &:hover {
            transform: scale(.95);
        }
    }

    &__text {
        font-size: 1rem;
        font-weight: normal;
    }

    h1 {
        display: inline;
    }

    a {
        color: $black;
        text-decoration: underline;
    }
}

@keyframes slide-up {
    from {
        bottom: -100rem;
    }
    to {
        bottom: 0;
    }
}

@media (max-width: 965px) {
    .cookie {
        flex-direction: column;
    }
    .cookie__left {
        padding-top: 0rem;
    }
    .cookie__accept {
        margin-top: .5rem;
    }
}