.welcome {
    height: 100vh;

    &__background {
        background-image: url("../img/background.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: absolute;
        z-index: -1;
        height: 100vh;
        width: 100%;


        &--overlay {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(19, 19, 19, 0.9) 100%);
            height: 100%;
            width: 100%;
        }
    }

    &__navbar {
        position: absolute;
        padding: 3rem;
        z-index: 100;
        top: 0;
        right: 0;

        &--links {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            list-style: none;

            a {
                text-decoration: none;
                color: $white;
            }
        }

        &--entry {
            padding: 0 .5rem;
            opacity: .75;
        }
    }

    &__body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 0;
        height: 100vh;
        width: 100%;
    }

    &__footer {
        position: absolute;
        text-align: center;
        width: 100%;
        margin-bottom: 4rem;
        bottom: 0;
        opacity: .6;

        &--arrow {
            background-image: url(../img/arrow-down.svg);
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            margin: .5rem 0 0 0;
            height: 2rem;
            width: 2rem;

            animation: up-down 2s forwards infinite;
        }
    }

    &__text {
        text-align: center;
        color: $white;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        max-width: 50rem;

        &.nomax {
            max-width: 100%;
        }

        &--big {
            font-size: 6rem;
            margin-bottom: 1rem;
        }

        &--small {
            font-size: 1.65rem;
            line-height: 3rem;
        }

        &--smaller {
            font-size: 1rem;
            margin: 0 0 1rem 2rem;
            animation: up-down 2s forwards infinite;
        }
    }
}

@keyframes up-down {
    0% {
        transform: translateY(0rem);
    }

    50% {
        transform: translateY(-.5rem);
    }

    100% {
        transform: rotateY(0rem);
    }
}

@media (max-width: 870px) {
    .welcome__text {
        max-width: 75%;

        &--big {
            font-size: 5rem;
        }

        &--small {
            font-size: 1.4rem;
        }

    }
}

@media (max-width: 600px) {
    .welcome__text {

        &--big {
            font-size: 4.5rem;
        }

        &--small {
            font-size: 1.2rem;
        }
    }
    .welcome__footer {
        width: 95%;
    }
    .welcome__navbar {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

@media (max-width: 320px) {
    .welcome__text--big {
        font-size: 300%;
    }
}

@media (max-height: 510px) {
    .welcome__text {
        transform: scale(.8);
    }

    .welcome__footer {
        display: none;
    }
}

.information {
    display: flex;
    flex-direction: row;
    height: 100vh;

    &::before {
        content: "";
        background-color: $dark;
        height: 100vh;
        width: 35%;
        transform: skew(-7deg);
        box-shadow: -3px -5px 10px #C5C5C5;

        position: absolute;
        right: 58px;
        z-index: -5;
    }

    &::after {
        content: "";
        background-color: $dark;
        height: 100vh;
        width: 25%;

        z-index: -5;
    }

    &__left {
        justify-content: left;
        align-self: center;
        width: 50%;
        margin: 0 0 0 5rem;

        &--items {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &--logo {
            margin-bottom: 2rem;

            /* not draggable */ 
            user-drag: none; 
            user-select: none;
            -moz-user-select: none;
            -webkit-user-drag: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }

        &--text {
            white-space: pre-line;
            text-align: center;
            line-height: 3rem;
            max-width: 35rem;
            font-size: 1.65rem;
        }
    }

    &__right {
        justify-content: right;
        align-self: center;
        text-align: center;
        width: 50%;

        &--image {
            width: 30rem;
            margin: 4rem -10rem 0 0;

            border: .3rem solid $white;
            box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.25);

            /* not draggable */ 
            user-drag: none; 
            user-select: none;
            -moz-user-select: none;
            -webkit-user-drag: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
    }
}

@media (max-width: 1150px) {
    .information {
        flex-direction: column;
        height: 100%;
        min-height: 100vh;
        margin: 5rem 0 5rem 0;

        &::before, &::after {
            display: none;
        }

        &__left {
            margin: 0;
            width: 100%;
        }

        &__right {
            width: 100%;

            &--image {
                margin: 2.5rem 0 0 0;
            }
        }
    }
}

@media (max-width: 880px) {
    .information {
        padding: 3rem 0 3rem 0;
        margin: 0;

        &__left {
            &--text {
                font-size: 1.3rem;
            }
        }

        &__right {
            &--image {
                width: 80%;
            }
        }
    }
}

@media (max-width: 590px) {
    .information {
        &__left {
            &--text {
                font-size: 1.4rem;
                width: 80%;
            }
        }
    }
}

@media (max-height: 500px) {
    .information__right--image {
        width: 50%;
    }
}

.explore {
    height: 35vh;
    background-color: #A346FF;
    box-shadow: inset 0 0 20px 1px #8b16ff;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    &__button {
        background: $white;
        color: $black;
        text-decoration: none;
        box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.25);
        border-radius: .1rem;
        font-size: 1.65rem;
        margin: 2.5rem 0 0rem 0;
        padding: 1rem 2rem;
        transition: .2s;
        
        animation: 2.5s notice forwards infinite;
    }

    &__text {
        color: $white;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

        &--big {
            font-size: 1.65rem;
        }
    }
}

@media (max-width: 880px) {
    .explore {
        &__button {
            font-size: 1.3rem;
        }

        &__text {
            &--big {
                font-size: 1.4rem;
            }
        }
    }
}

@media (max-width: 640px) {
    .explore {
        height: 100%;

        &__content {
            padding: 3rem 0 3rem 0;
        }

        &__button {
            font-size: 100%;;
        }

        &__text {
            &--big {
                text-align: center;
                font-size: 1.2rem;
                width: 100%;
                padding: 0 2rem 0 2rem;
            }
        }
    }
}

@media (max-height: 600px) {
    .explore {
        min-height: 40vh;
        height: 100%;

        &__content {
            padding: 3rem 0 3rem 0;
        }
    }
}

.stats {
    height: 30vh;
    background-color: $dark;

    &__boxes {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        color: $white;

        box-shadow: inset 0 0 20px 0px #060606;

        &--entry {
            text-align: center;
            min-width: 33%;
        }

        &--number {
            font-size: 3rem;
            margin: 0 0 1rem 0;
        }

        &--description {
            font-size: 1.65rem;
        }

        &--hr {
            text-align: center;
            border: .1rem solid $white;
            width: 4rem;
            margin: 1rem auto;
        }
    }
}

/* Keeping animation in-case I want to use it later */
@keyframes float {
    0% {
        transform: translateY(.2rem);
    }
    
    50% {
        transform: translateY(0rem);
    }

    100% {
        transform: translateY(.2rem);
    }
}

@media (max-width: 1150px) {
    .stats {
        min-height: 30vh;
        height: 100%;

        &__boxes {
            flex-direction: column;
            padding: 4rem 0 4rem 0;

            &--entry {
                padding: 2rem 0 2rem 0;
            }
        }
    }
}

@media (max-width: 880px) {
    .stats {

        &__boxes {
            flex-direction: column;
            padding: 3rem 0 3rem 0;
        }
    }
}

.join {
    height: 40vh;
    background-color: $light-blue;
    box-shadow: inset 0 0 20px 1px #278dc7;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    &__button {
        background: $white;
        color: $black;
        text-decoration: none;
        box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.25);
        border-radius: .1rem;
        font-size: 1.65rem;
        margin: 2.5rem 0 2rem 0;
        padding: 1rem 2rem;
        transition: .2s;
        
        animation: 2.5s notice forwards infinite;
    }

    &__text {
        color: $white;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

        &--big {
            font-size: 1.65rem;
        }

        &--small {
            font-size: 1rem;
            opacity: .75;
            
            a {
                color: $white;
                text-decoration: none;
            }
        }
    }
}

@keyframes notice {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(.95);
    }

    100% {
        transform: scale(1);
    }
}

@media (max-width: 880px) {
    .join {
        &__button {
            font-size: 1.3rem;
        }

        &__text {
            &--big {
                font-size: 1.4rem;
            }
        }
    }
}

@media (max-width: 640px) {
    .join {
        height: 100%;

        &__content {
            padding: 3rem 0 3rem 0;
        }

        &__button {
            font-size: 100%;;
        }

        &__text {
            &--big {
                text-align: center;
                font-size: 1.2rem;
                width: 100%;
                padding: 0 2rem 0 2rem;
            }
        }
    }
}

@media (max-height: 600px) {
    .join {
        min-height: 40vh;
        height: 100%;

        &__content {
            padding: 3rem 0 3rem 0;
        }
    }
}

.footer {
    min-height: 27vh;
    background-color: $dark;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
        padding: 1rem;
    }

    &__text {
        color: $white;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

        &--title {
            font-size: 3rem;
            margin: 0 0 1rem 0;
        }

        &--small {
            font-size: 1rem;
            padding: .5rem;
        }
    }

    &__list {
        margin: 0 0 1rem 0;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

        &--items {
            list-style: none;
        }

        &--entry {
            font-size: .9rem;
            opacity: .8;

            &::before, &::after {
                content: "/";
                color: $white;
                padding: 0 .3rem 0 .3rem;
                transition: .2s;
            }

            &:hover {
                &::before, &::after {
                    color: $light-blue;
                    padding: 0 .6rem 0 .6rem;
                    transition: .2s;
                }
            }

            a {
                color: $white;
                text-decoration: none;
            }
        }
    }

    &__credits {
        color: $white;
        margin: 1rem 0 0 0;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

        a {
            color: $white;
            text-decoration: none;
            transition: .2s;

            &:hover {
                color: $light-blue;
                transition: .2s;
            }
        }

        &--red {
            color: #ff4646;
        }

        &--hr {
            text-align: center;
            border: .1rem solid $white;
            width: 5rem;
            margin: 1rem auto;

            animation: float 2.5s forwards infinite;
        }
    }
}

@media (max-width: 880px) {

}