.index {
	background-color: $white;
	width: 100%;
	border: 2rem solid $black;
	border-style: groove;
	min-height: 100vh;
	color: $white;
	padding: 2rem;


	a {
		color: $white;
		text-decoration: none;
	}

	&__empty {
		color: $black;
		font-size: 1rem;
		font-weight: normal;
	}

	&__title {
		font-size: 1.4rem;
		color: $black;
		margin: 1rem 0rem 1rem 0rem;
		font-weight: normal;
		text-transform: uppercase;
	}

	&__logo {
		width: 20rem;
		user-drag: none; 
		user-select: none;
		-moz-user-select: none;
		-webkit-user-drag: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}

	&__user {

		&__box {
			background-color: $black;
			padding: 1rem;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			margin-bottom: 2rem;
			transition: .1s;

			border-radius: 3px;
			border-top: .3rem solid $white;
			box-shadow: 0px 0px 1rem 3px #22222217;

			&__name {
				font-size: 1.15rem;
				margin-right: 1rem;
				font-weight: normal;
				text-align: center;
			}

			&__description {
				font-size: .9rem;
				word-spacing: .05rem;
				line-height: 1.5rem;
				margin-top: .5rem;
				text-align: center;
				font-family: 'Open Sans', serif;
				font-weight: normal;

				&__small {
					font-size: .9rem;
					margin-top: .5rem;
					word-spacing: .05rem;
					line-height: 1.5rem;
					text-align: center;
					font-family: 'Open Sans', serif;
					font-weight: normal;
				}
			}

			hr {
				width: 35%;
				margin-top: .5rem;
				border: none;
				background-color: $white;
				opacity: .5;
				height: 1px;
			}
		}
	}
}

@media (max-width: 768px) {
	.index {
		
		&__title {
			text-align: center;
		}

		&__logo__center {
			text-align: center;
		}

		&__empty {
			text-align: center;
		}
	}
	
}

@media (max-width: 520px) {
	.index {
		padding: 1rem;
		border: 1rem solid $black;
	}
}

@media (max-width: 425px) {
	.index__title {
		font-size: 1.2rem;
	}
	.index__logo {
		width: 15rem;
	}
}

@media (max-width: 325px) {
	.index {
		overflow-x: hidden;
	}
	.index__logo {
		width: 10rem;
	}
}