.post {
	width: 100%;
	min-height: 100vh;
	padding: 2rem;
	border-radius: 3px;
	border: 2rem solid $black;
	border-style: groove;

	background-color: $white;
	color: $white;

	&__header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
    	min-height: 2rem;
		
		&__back {
			color: $black;
			margin-bottom: 1rem;

			a {
				text-decoration: none;
				color: $black;
			}

			&__text {
				margin-left: .5rem;
				font-size: 1rem;
			}
		}

		&__edit {
			color: $black;
			margin-bottom: 1rem;

			a {
				text-decoration: none;
				color: $black;
			}

			&__text {
				margin-left: .5rem;
				font-size: 1rem;
			}

			&__trending {
				font-size: 1rem;

				background-color: transparent;
				border: none;
				outline: none;
				cursor: pointer;

				i {
					padding-right: .3rem;
				}
			}
		}
	}

	&__share {
		display: flex;
		flex-direction: column;

		&__text {
			color: $black;
		}

		&__buttons {
			display: flex;
			flex-direction: row;
		}

		&__title {
			font-size: 2rem;
			font-weight: bold;
			color: $black;
		}

		.facebook {
			color: $black;
			font-size: 2rem;
			margin-right: 1.5rem;
			width: 1rem;
			a {
				color: $black;
			}
			a:hover {
				color: #3B5998;
			}
		}

		.twitter {
			color: $black;
			font-size: 2rem;
			width: 2.5rem;
			a {
				color: $black;
			}
			a:hover {
				color: #0084b4;
			}
		}

		.linkedin {
			color: $black;
			font-size: 2rem;
			width: 2.5rem;
			a {
				color: $black;
			}
			a:hover {
				color: #0077B5;
			}	
		}

		.googleplus {
			color: $black;
			font-size: 2rem;
			width: 2.5rem;
			a {
				color: $black;
			}
			a:hover {
				color: #dd4b39;
			}	
		}
	}

	&__post {
		margin-bottom: 1rem;
		background-color: $black;
		padding: 2rem;
		border-top: .3rem solid $white;
		box-shadow: 0px 0px 1rem 3px #22222217;

		&__information {
			padding: 1rem;
			background-color: rgba(0, 0, 0, 0.15);
			box-shadow: inset 0.1rem 0.1rem 3rem 0px #181818;
			text-align: center;

			&__text {
				font-size: 1rem;
				margin: .25rem 0 .25rem 0;
				color: $white;
			}
		}

		&__title {
			font-size: 2rem;
			margin-bottom: 1rem;
			color: $white;
		}

		&__avatar {
			width: 1.5rem;
			height: 1.5rem;
			border-radius: 50%;
			margin: .5rem .3rem -.4rem .3rem;

			user-drag: none; 
			user-select: none;
			-moz-user-select: none;
			-webkit-user-drag: none;
			-webkit-user-select: none;
			-ms-user-select: none;
		}

		&__body {
			margin-top: 1rem;
			width: 100%;
			white-space: pre-line;
			color: $white;
    		word-spacing: .05rem;
    		line-height: 1.8rem;
			font-family: 'Open Sans', sans-serif;
			word-break: break-word;
			letter-spacing: .05rem;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			
			em, a, i, u, s, code, ul, li, ol {
				font-family: 'Open Sans', serif;
			}

			p {
				margin-top: 1rem;
				width: 100%;
				white-space: pre-line;
				color: #dcdcdc;
	    		word-spacing: .05rem;
				line-height: 1.8rem;
				font-weight: 300;
				font-family: 'Open Sans', sans-serif;
			}

    		img {
    			margin-top: 1rem;
    			margin-bottom: 1rem;
    			width: 100%;
    			border: .5rem solid $white;
				user-drag: none; 
				user-select: none;
				-moz-user-select: none;
				-webkit-user-drag: none;
				-webkit-user-select: none;
				-ms-user-select: none;
    		}

    		a {
				color: $white;
				border-bottom: .15rem solid $white;
				text-decoration: none;
				transition: .1s;

				&:hover {
					padding: 0 .15rem 0 .15rem;
					transition: .1s;
				}
    		}

    		blockquote {
				background-color: #7373731f;
				width: fit-content;
				padding: .5rem 1rem .5rem 1rem;
				margin: 1rem 0 0 1rem;
				border-left: .25rem solid $white;
				font-style: italic;
				
				p {
					margin-top: 0;
				}
			}

			ul, ol {
				margin: 1rem 0 0 2rem;

				li {
					padding-left: .5rem;
				}
			}

			code {
				background-color: #eeeeee;
				font-family: monospace;
				padding: 0.25rem 0.3rem 0.25rem .3rem;
				color: #222222;
				border-radius: .2rem;
				border: 2px solid #dadada;
			}
		}
	}
}

/**
@media (max-width: 1300px) {
	.post__share {
		display: none;
	}
}*/

@media (max-width: 1000px) {
	.post {
		padding: 1rem;
	}
}

@media (max-width: 757px) {
	.post__post__body img {
		border: .5rem solid $white;
	}
}

@media (max-width: 535px) {
	.post__post__title {
		font-size: 1.5rem;
	}
	.post__post__information__text {
		font-size: 1rem;
	}
	.post__post__body {
		font-size: 1rem;
    	line-height: 1.4rem;
	}
	.post__post__avatar {
		width: 1.25rem;
		height: 1.25rem;
	}

	.post__post {
		padding: 1rem;
	}
}

@media (max-width: 520px) {
	.post {
		padding: 1rem;
		border: 0rem solid #222222;
	}

	.post__post__body blockquote {
		margin-left: 0;
	}

	.post {
		.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9 {
			padding-right: 0rem !important;
			padding-left: 0rem !important;
		}
	}

}

@media (max-width: 400px) {
	.post__post {
		padding: 1rem;
	}
	.post {
		border: 0rem solid #222222;
		padding: 0rem;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
}

@media (max-width: 375px) {
	.post__post__title {
		font-size: 1.3rem;
	}
	.post__post__information__text {
		font-size: 1rem;
	}
	.post__post__body {
		font-size: 1rem;
		line-height: 1.3rem;
	}

	.post {
		.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9 {
			padding-right: .5rem !important;
			padding-left: .5rem !important;
		}
	}
}