.profile {
	background-color: $white;
	width: 100%;
	border: 2rem solid $black;
	border-style: groove;
	min-height: 100vh;
	color: $white;
	padding: 2rem;

	&__box {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		background-color: $black;
		border-top: .3rem solid $white;
		box-shadow: 0px 0px 1rem 3px #22222217;
		padding: 1rem;
		border-radius: 3px;
		margin-top: 5rem;

		&__avatar {
			width: 10rem;
			height: 10rem;
			border-radius: 50%;
			border: 0.5rem solid $black;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			margin-top: -6rem;
			box-shadow: 0px 0px 1rem 3px #22222217;

			user-drag: none; 
			user-select: none;
			-moz-user-select: none;
			-webkit-user-drag: none;
			-webkit-user-select: none;
			-ms-user-select: none;
		}

		&__name {
			font-size: 1.3rem;
			margin-bottom: .5rem;
		}

		&__description {
			font-size: 1rem;
			text-align: center;
			max-width: 85%;
    		word-spacing: .05rem;
    		line-height: 1.5rem;
			font-family: 'Open Sans', serif;
			color: #dcdcdc;
		}

		&__info {
			display: flex;
			justify-content: space-between;
			margin: .5rem;
		}

	}

	&__posts {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		padding-bottom: 3rem;

		a {
			text-decoration: none;
		}

		&__none {
			color: $white;
			margin-top: 5rem;
			text-align: center;
			background-color: $black;
			padding: 1rem;
			border-top: 0.3rem solid $white;
    		box-shadow: 0px 0px 1rem 3px #22222217;

			h1 {
				font-size: 1rem;
				display: inline;
				font-weight: normal;
				padding-left: .5rem;
			}
		}

	}
}

@media (max-width: 1077px) {
	.profile {
    	padding-bottom: 6rem;
	}
}

@media (max-width: 991px) {
	.profile__posts {
		padding: 0rem;
	}

	.profile__posts__none {
		margin-top: 1rem;
	}
}

@media (max-width: 540px) {
	.profile {
		padding: 0rem;
		padding-bottom: 1rem;
		border: 1rem solid $black;
	}

	.profile__box {
		margin-top: 6rem;
	}
}