.register {
	background-color: $white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	border: 2rem solid $black;
	border-style: groove;
	min-height: 100vh;
	color: $black;

	&__form {
		min-width: 50%;

		&__input {
			display: block;
			margin-bottom: 2rem;
			position: relative;

			input {
				width: 100%;
				transition: .2s;
				background-color: #eee;
				outline: none;
				border: none;
				font-size: 1.3rem;
				padding: 1rem;
				border-radius: 3px;

				&[type=submit] {
					width: 100%;
					color: $white;
					background-color: $black;
					border: none;

					&:hover {
						background-color: #1b1b1b;
						cursor: pointer;
					}
				}
			}

			>label {
				position: absolute;
				top: 1rem;
				margin-left: 1rem;
				font-weight: thin;
				text-transform: uppercase;
				color: $black;
				transition: top 200ms;
				border-radius: 3px;
			}

			>input:focus + label,
			>textarea:focus + label {
				background: $black;
				color: $white;
				padding: 1px 6px;
				z-index: 2;
				text-transform: uppercase;
				font-size: .8rem;
				top: -1rem;
				transform: rotate(-6deg);
				left: -2.5rem;
				border-radius: 3px;
			}

			>input:valid + label,
			>textarea:valid + label {
				background: $black;
				color: $white;
				padding: 1px 6px;
				z-index: 2;
				text-transform: uppercase;
				font-size: .8rem;
				top: -1rem;
				transform: rotate(-6deg);
				left: -2.5rem;
				border-radius: 3px;
			}

		}

		&__title {
			width: 100%;
			font-weight: bold;
			font-size: 1.5rem;

			&__small {
				font-size: 1.15rem;
				margin-left: .5rem;
			}
		}

		&__link {
			color: $black;
			text-decoration: none;
			text-align: center;
			display: flex;
			justify-content: space-around;
			flex-direction: row;
			margin: .5rem;
			margin-bottom: 2rem;
		}
	}
}

@media (max-width: 395px) {
	.register__form__title {
		font-size: 1.3rem;
	}

	.register__form__title__small {
		font-size: 1rem;
	}

	.register__form__link {
		font-size: .8rem;
	}
}

@media (max-width: 992px) {
	.register__form__input input {
		font-size: 1.1rem;
	}
}

@media (max-width: 576px) {
	.register__form__input input {
		font-size: 1rem;
	}
}

@media (max-width: 540px) {
	.register {
		border: 1rem solid $black;
	}
}

@media (max-width: 383px) {
	.register__form__input input {
		font-size: .8rem;
	}
}