@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    -webkit-appearance: none;
}

::-moz-selection { /* Code for Firefox */
    color: $white;;
    background: $black;
}

::selection {
    color: $white;
    background: $black;
}

/*
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}*/

/* CKEDITOR link etc being under modal fix */

.ck.ck-reset_all, .ck.ck-reset_all * {
    z-index: 35000;
}