.settings {
	background-color: $white;
	width: 100%;
	border: 2rem solid $black;
	border-style: groove;
	min-height: 100vh;
	color: $white;
	padding: 2rem;

	&__title {
		margin-top: 1rem;
		font-size: 1rem;
		color: $black;
		background-color: $white;
		padding: 1rem;
		text-align: center;
		box-shadow: 0px 0px 1rem 3px #2222220d;
	}

	&__form {
	min-width: 50%;
	margin-top: 1rem;

		&__title {
			width: 100%;
			font-size: 1.5rem;
			border-radius: 3px;
			font-weight: bold;
			display: inline;

			&__small {
				font-size: 1rem;
				margin-left: .5rem;
			}
		}

		&__input {
			position: relative;
			margin-bottom: 2rem;
			margin-top: 2rem;
            border-radius: 3px;

			textarea {
				width: 100%;
				transition: .2s;
				max-width: 100%;
				min-width: 100%;
				min-height: 11rem;
				font-size: 1.3rem;
				padding: 1rem;
				border-radius: 3px;

				background-color: #eee;
				outline: none;
				border: none;
			}

			input {
				width: 100%;
				transition: .2s;
				background-color: #eee;
				outline: none;
				border: none;
				font-size: 1.3rem;
				padding: 1rem;
				border-radius: 3px;

				&[type=submit] {
					width: 100%;
					color: $white;
					background-color: $black;
					border: none;

					&:hover {
						background-color: #1b1b1b;
						cursor: pointer;
					}
				}
			}

			>label {
				position: absolute;
				top: 1rem;
				margin-left: 1rem;
				border-radius: 3px;
				font-weight: thin;
				text-transform: uppercase;
				color: $black;
				transition: top 200ms;
			}

			>input:focus + label,
			>textarea:focus + label {
				background: $black;
				color: $white;
				padding: 1px 6px;
				border-radius: 3px;
				z-index: 2;
				text-transform: uppercase;
				font-size: .8rem;
				top: -1rem;
				transform: rotate(-6deg);
				left: -2rem;
			}

			>input:valid + label,
			>textarea:valid + label {
				background: $black;
				color: $white;
				padding: 1px 6px;
				border-radius: 3px;
				z-index: 2;
				text-transform: uppercase;
				font-size: .8rem;
				top: -1rem;
				transform: rotate(-6deg);
				left: -2rem;
			}

			&__file {
			    margin-bottom: 2rem;

				input {
					position: absolute;
					z-index: -1;
					opacity: 0;
					overflow: hidden;
					height: 0.1rem;
					width: 0.1rem;
				}

				&__select {
					font-size: 1rem;
					color: $black;
					background: #eee;
					font-weight: bold;
					padding: 1.3rem;
				}
			}
		}
	}
}

@media (max-width: 395px) {
	.settings__form__title textarea {
		font-size: 1.3rem;
	}

	.settings__form__title input {
		font-size: 1.3rem;
	}

	.settings__form__title__small {
		font-size: 1rem;
	}

	.settings__form__link {
		font-size: .8rem;
	}
}

@media (max-width: 992px) {
	.settings__form__input input {
		font-size: 1.1rem;
	}

	.settings__form__input textarea {
		font-size: 1.1rem;
	}
}

@media (max-width: 576px) {
	.settings__form__input input {
		font-size: 1rem;
	}

	.settings__form__input textarea {
		font-size: 1rem;
	}
}

@media (max-width: 520px) {
	.settings {
		padding: 1rem;
		border: 1rem solid #222222;
	}
}

@media (max-width: 383px) {
	.settings__form__input input {
		font-size: .8rem;
	}

	.settings__form__input textarea {
		font-size: .8rem;
	}

	.settings__form__input__file__label label {
		font-size: .8rem;
	}
}